---
http_interactions:
- request:
    method: post
    uri: https://api.fintoc.com/v2/transfers
    body:
      encoding: UTF-8
      string: '{"amount":50000,"currency":"MXN","account_id":"acc_31yYL7h9LVPg121AgFtCyJPDsgM","counterparty":{"holder_id":"LFHU290523OG0","holder_name":"Jon
        Snow","account_number":"735969000000203297","account_type":"clabe","institution_id":"40012"},"comment":"Test
        payment","reference_id":"123456"}'
    headers:
      Authorization:
      - Bearer sk_test_SeCreT-aPi_KeY
      Fintoc-Jws-Signature:
      - eyJhbGciOiJSUzI1NiIsIm5vbmNlIjoiOWEyOWY3MmI3OTMxMWE2ZDNlZjM5ZDVhMzMyNzQ1NmYiLCJ0cyI6MTc1Nzk0NDI2MywiY3JpdCI6WyJ0cyIsIm5vbmNlIl19.cC0eHmWgksOdwQohfq7txkpzl3BtoeH5S0dtVc7eyv81g36rqDPdgD7HAU_ValT5yM2ipIPtq9Nxj8PmJeVfWHWQ8v2w-Xh6ZyPSpc4sLmUIt75PqixnMxpEGd2zR9gUssQeuoZ59zpiaLZ7eXt4mRoabz0NDz8w_N6ytkJ5loq2XsLKF_U-wqChc3OkUt5PrZNLkIWl0F5acIRd9PuMwBv7f-O0OTyZj3_xCHQtOdORD9iflm2NajSpYb3sMnT73_x1D23qzSLqEUM6XXLeE0LwAuDyQowLoi0Hb7_LMVym-ioWoKKwiFFXspViY-_uzlAqsFbckRjGRnnVaZkFZQ
      Idempotency-Key:
      - test_transfer_creation_123
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a751b58856b241a654dc45766e2d1948"
    body:
      encoding: UTF-8
      string: '{"object":"transfer","id":"tr_32jqKMMm1XFaPPxmdk5xg7Q1yHd","amount":50000,"currency":"MXN","direction":"outbound","status":"pending","transaction_date":"2025-09-15T13:51:03Z","post_date":null,"comment":"Test
        payment","reference_id":"123456","tracking_key":"202509159073500000000000000002","receipt_url":null,"mode":"test","counterparty":{"holder_id":"LFHU290523OG0","holder_name":"Jon
        Snow","account_number":"735969000000203297","account_type":"clabe","institution":{"id":"90735","name":"FINTOC","country":"mx"}},"account_number":{"id":"acno_31yYL5uOb39vzvRIszPhoXYMjt4","account_id":"acc_31yYL7h9LVPg121AgFtCyJPDsgM","number":"735969000000203297","created_at":"2025-08-29T20:02:00Z","updated_at":"2025-08-29T20:02:00Z","mode":"test","description":null,"metadata":{},"status":"enabled","is_root":true,"object":"account_number"},"metadata":{},"return_reason":null}'
  recorded_at: Mon, 15 Sep 2025 13:51:04 GMT
recorded_with: VCR 6.3.1
