---
http_interactions:
- request:
    method: get
    uri: https://api.fintoc.com/v1/links/6n12zLmai3lLE9Dq_token_gvEJi8FrBge4fb3cz7Wp856W
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - sk_test_9c8d8CeyBTx1VcJzuDgpm4H-bywJCeSx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"897ae694e5399ed740681eeb2602478d"
    body:
      encoding: UTF-8
      string: '{"id":"6n12zLmai3lLE9Dq","holder_id":"782592211","username":"416148503","holder_type":"business","created_at":"2020-08-18T17:37:24.550Z","institution":{"id":"cl_banco_de_chile","name":"Banco
        de Chile","country":"cl"},"link_token":null,"mode":"test","accounts":[{"id":"JjEQx2rPTGGKbrP5","type":"checking_account","number":"813990168","name":"Cuenta
        Corriente","official_name":"Cuenta Corriente","balance":{"available":23457460,"current":23457460,"limit":23457460},"holder_id":"404276727","holder_name":"Sta.
        Francisco Ordóñez Esquivel","currency":"CLP"}]}'
  recorded_at: Fri, 18 Sep 2020 19:16:50 GMT
- request:
    method: get
    uri: https://api.fintoc.com/v1/accounts/JjEQx2rPTGGKbrP5/movements?link_token=6n12zLmai3lLE9Dq_token_gvEJi8FrBge4fb3cz7Wp856W
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - sk_test_9c8d8CeyBTx1VcJzuDgpm4H-bywJCeSx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.fintoc.com/v1/accounts/JjEQx2rPTGGKbrP5/movements?link_token=6n12zLmai3lLE9Dq_token_gvEJi8FrBge4fb3cz7Wp856W&page=1>;
        rel="first", <https://api.fintoc.com/v1/accounts/JjEQx2rPTGGKbrP5/movements?link_token=6n12zLmai3lLE9Dq_token_gvEJi8FrBge4fb3cz7Wp856W&page=2>;
        rel="next", <https://api.fintoc.com/v1/accounts/JjEQx2rPTGGKbrP5/movements?link_token=6n12zLmai3lLE9Dq_token_gvEJi8FrBge4fb3cz7Wp856W&page=126>;
        rel="last"
      X-Total-Count:
      - '3772'
      Etag:
      - W/"ceadd8d6cf0ce8ad83fae593c1123c61"
    body:
      encoding: UTF-8
      string: '[{"id":"6xq4Y9WHG7268PEO","description":"Minus unde debitis aut.","amount":-7078548,"currency":"CLP","post_date":"2020-09-15T00:00:00Z","transaction_date":null,"type":"transfer","recipient_account":{"holder_id":"652407749","number":"575894988","institution":{"id":"cl_banco_bci","name":"Banco
        BCI","country":"cl"},"holder_name":"Caridad Sanches Montalvo"},"sender_account":null,"comment":null,"reference_id":null},{"id":"3M2y8AJHwOb4eRpn","description":"Mollitia
        dolorem assumenda ipsam.","amount":5140623,"currency":"CLP","post_date":"2020-09-15T00:00:00Z","transaction_date":null,"type":"transfer","recipient_account":null,"sender_account":{"holder_id":"745931278","number":"590331532","institution":{"id":"cl_banco_estado","name":"Banco
        Estado","country":"cl"},"holder_name":"Sta. Carolina Colunga Cervántez"},"comment":null,"reference_id":null},{"id":"0jLD8gMHyrMOY5B9","description":"Sed[...]
