---
http_interactions:
- request:
    method: post
    uri: https://api.fintoc.com/v2/simulate/receive_transfer
    body:
      encoding: UTF-8
      string: '{"account_number_id":"acno_326dzRGqxLee3j9TkaBBBMfs2i0","amount":10000,"currency":"MXN"}'
    headers:
      Authorization:
      - Bearer sk_test_SeCreT-aPi_KeY
      Idempotency-Key:
      - test_simulation_123
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82c29e7cfa8f11f60f76c397c650754d"
    body:
      encoding: UTF-8
      string: '{"object":"transfer","id":"tr_32jkevdbJyoqZeJpt3s2zSeGsy9","amount":10000,"currency":"MXN","direction":"inbound","status":"pending","transaction_date":"2025-09-15T13:04:26Z","post_date":"2025-09-15T00:00:00Z","comment":null,"reference_id":"1","tracking_key":"202509159073500000000000000001","receipt_url":null,"mode":"test","counterparty":{"holder_id":"JNDD471123XJ4","holder_name":"Carson
        Runolfsson","account_number":"723969738291465733","account_type":"clabe","institution":{"id":"90723","name":"Cuenca","country":"mx"}},"account_number":{"id":"acno_326dzRGqxLee3j9TkaBBBMfs2i0","account_id":"acc_31yYL7h9LVPg121AgFtCyJPDsgM","number":"735969000000203365","created_at":"2025-09-01T16:46:57Z","updated_at":"2025-09-01T16:54:40Z","mode":"test","description":"Updated
        account number description","metadata":{"test_id":"12345"},"status":"enabled","is_root":false,"object":"account_number"},"metadata":{},"return_reason":null}'
  recorded_at: Mon, 15 Sep 2025 13:04:27 GMT
recorded_with: VCR 6.3.1
