---
http_interactions:
- request:
    method: get
    uri: https://api.fintoc.com/v2/account_verifications?limit=10&since=2020-01-01T00:00:00.000Z
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_SeCreT-aPi_KeY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - ''
      Etag:
      - W/"9b52bfc2b4c200446ac3f7bc672c6bd4"
    body:
      encoding: UTF-8
      string: '[{"object":"account_verification","id":"accv_32F2NLQOOwbeOvfuw8Y1zZCfGdw","status":"succeeded","reason":null,"transfer_id":"tr_32F2NNCg5s9JQy5AX5A6toWX9rd","counterparty":{"holder_id":"PPPR510220DB1","holder_name":"Adrianne
        Murray","account_number":"735969000000203226","account_type":"clabe","institution":{"id":"90735","name":"FINTOC","country":"mx"}},"mode":"test","receipt_url":"https://www.banxico.org.mx/cep-beta/go?i=90735\u0026s=dummy\u0026d=ce2zbPihXLg1MobUPCRrTrw9bB97KEYDGHg6rSGK7PaklMO9uV2ancSh1z2p8bIQCcwNCndMOBQx6ISkSOLTcLQ44r6s3qO7aVSNcWSiOp4%3D","transaction_date":"2025-09-04T16:05:58Z"}]'
  recorded_at: Thu, 04 Sep 2025 16:06:54 GMT
recorded_with: VCR 6.3.1
