---
http_interactions:
- request:
    method: patch
    uri: https://api.fintoc.com/v2/account_numbers/acno_326dzRGqxLee3j9TkaBBBMfs2i0
    body:
      encoding: UTF-8
      string: '{"description":"Updated account number description"}'
    headers:
      Authorization:
      - Bearer sk_test_SeCreT-aPi_KeY
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82628675d4c8cf1521db24ac25986c9e"
    body:
      encoding: UTF-8
      string: '{"id":"acno_326dzRGqxLee3j9TkaBBBMfs2i0","account_id":"acc_31yYL7h9LVPg121AgFtCyJPDsgM","number":"735969000000203365","created_at":"2025-09-01T16:46:57Z","updated_at":"2025-09-01T16:54:40Z","mode":"test","description":"Updated
        account number description","metadata":{"test_id":"12345"},"status":"enabled","is_root":false,"object":"account_number"}'
  recorded_at: Mon, 01 Sep 2025 17:04:19 GMT
recorded_with: VCR 6.3.1
