---
http_interactions:
- request:
    method: get
    uri: https://api.fintoc.com/v1/links/6n12zLmai3lLE9Dq_token_gvEJi8FrBge4fb3cz7Wp856W
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - sk_test_9c8d8CeyBTx1VcJzuDgpm4H-bywJCeSx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"94045ec584e62887fbeed1515a5e8029"
    body:
      encoding: UTF-8
      string: '{"id":"6n12zLmai3lLE9Dq","holder_id":"782592211","username":"416148503","holder_type":"business","created_at":"2020-08-18T17:37:24.550Z","institution":{"id":"cl_banco_de_chile","name":"Banco
        de Chile","country":"cl"},"link_token":null,"mode":"test","accounts":[{"id":"JjEQx2rPTGGKbrP5","type":"checking_account","number":"813990168","name":"Cuenta
        Corriente","official_name":"Cuenta Corriente","balance":{"available":62255521,"current":62255521,"limit":62255521},"holder_id":"416148503","holder_name":"María
        del Carmen Girón Raya","currency":"CLP"}]}'
  recorded_at: Fri, 11 Sep 2020 18:48:02 GMT
- request:
    method: get
    uri: https://api.fintoc.com/v1/accounts/JjEQx2rPTGGKbrP5/movements?link_token=6n12zLmai3lLE9Dq_token_gvEJi8FrBge4fb3cz7Wp856W&since=2020-08-15
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - sk_test_9c8d8CeyBTx1VcJzuDgpm4H-bywJCeSx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.fintoc.com/v1/accounts/JjEQx2rPTGGKbrP5/movements?link_token=6n12zLmai3lLE9Dq_token_gvEJi8FrBge4fb3cz7Wp856W&since=2020-08-15&page=1>;
        rel="first", <https://api.fintoc.com/v1/accounts/JjEQx2rPTGGKbrP5/movements?link_token=6n12zLmai3lLE9Dq_token_gvEJi8FrBge4fb3cz7Wp856W&since=2020-08-15&page=2>;
        rel="next", <https://api.fintoc.com/v1/accounts/JjEQx2rPTGGKbrP5/movements?link_token=6n12zLmai3lLE9Dq_token_gvEJi8FrBge4fb3cz7Wp856W&since=2020-08-15&page=50>;
        rel="last"
      X-Total-Count:
      - '1495'
      Etag:
      - W/"2931f5c381c76fc0e01320a11d491746"
    body:
      encoding: UTF-8
      string: '[{"id":"mr0xNzXHakp1eVG6","description":"Ratione qui eum similique.","amount":5051238,"currency":"CLP","post_date":"2020-09-11T00:00:00Z","transaction_date":null,"type":"transfer","recipient_account":null,"sender_account":{"holder_id":"745931278","number":"615656332","institution":{"id":"cl_banco_scotiabank","name":"Banco
        Scotiabank","country":"cl"},"holder_name":"Francisca Villaseñor Cornejo"},"comment":null,"reference_id":null},{"id":"xz3kerxHDPElNWgn","description":"Sed
        distinctio laborum aut.","amount":-6100304,"currency":"CLP","post_date":"2020-09-11T00:00:00Z","transaction_date":null,"type":"other","recipient_account":null,"sender_account":null,"comment":null,"reference_id":null},{"id":"ypv5Yo1HdOAM8gqj","description":"Veniam
        quia cum quaerat.","amount":6534969,"currency":"CLP","post_date":"2020-09-11T00:00:00Z","transaction_date":null,"type":"other","recipient_account":null,"sender_account":n[...]
- request:
    method: get
    uri: https://api.fintoc.com/v1/accounts/JjEQx2rPTGGKbrP5/movements?link_token=6n12zLmai3lLE9Dq_token_gvEJi8FrBge4fb3cz7Wp856W&page=2&since=2020-08-15
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - sk_test_9c8d8CeyBTx1VcJzuDgpm4H-bywJCeSx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.fintoc.com/v1/accounts/[...]
[...]
