---
http_interactions:
- request:
    method: patch
    uri: https://api.fintoc.com/v2/accounts/acc_31yYL7h9LVPg121AgFtCyJPDsgM
    body:
      encoding: UTF-8
      string: '{"description":"Updated account description"}'
    headers:
      Authorization:
      - Bearer sk_test_SeCreT-aPi_KeY
      Idempotency-Key:
      - test_account_update_123
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ecc1054245bad66eb5094801931e2ec"
    body:
      encoding: UTF-8
      string: '{"id":"acc_31yYL7h9LVPg121AgFtCyJPDsgM","object":"account","mode":"test","root_account_number":"735969000000203297","is_root":false,"root_account_number_id":"acno_31yYL5uOb39vzvRIszPhoXYMjt4","available_balance":21960000,"currency":"MXN","entity":{"id":"ent_31t0VhhrAXASFQTVYfCfIBnljbT","holder_name":"Fintoc","holder_id":"ND","is_root":true},"description":"Updated
        account description","status":"active"}'
  recorded_at: Mon, 15 Sep 2025 12:40:28 GMT
recorded_with: VCR 6.3.1
