---
http_interactions:
- request:
    method: get
    uri: https://api.fintoc.com/v1/links
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - sk_test_9c8d8CeyBTx1VcJzuDgpm4H-bywJCeSx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.fintoc.com/v1/links?page=1>; rel="first", <https://api.fintoc.com/v1/links?page=1>;
        rel="last"
      X-Total-Count:
      - '1'
      Etag:
      - W/"80e799153079ddb19ef402cbfea3c804"
    body:
      encoding: UTF-8
      string: '[{"id":"6n12zLmai3lLE9Dq","holder_id":"782592211","username":"416148503","holder_type":"business","created_at":"2020-08-18T17:37:24.550Z","institution":{"id":"cl_banco_de_chile","name":"Banco
        de Chile","country":"cl"},"link_token":null,"mode":"test","accounts":null}]'
  recorded_at: Fri, 11 Sep 2020 18:21:19 GMT
recorded_with: VCR 6.0.0
