---
http_interactions:
- request:
    method: get
    uri: https://api.fintoc.com/v2/accounts
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_SeCreT-aPi_KeY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - ''
      Etag:
      - W/"db90e857bbfff3b588f63b53be770a09"
    body:
      encoding: UTF-8
      string: '[{"id":"acc_31yYL7h9LVPg121AgFtCyJPDsgM","object":"account","mode":"test","root_account_number":"735969000000203297","is_root":false,"root_account_number_id":"acno_31yYL5uOb39vzvRIszPhoXYMjt4","available_balance":0,"currency":"MXN","entity":{"id":"ent_31t0VhhrAXASFQTVYfCfIBnljbT","holder_name":"Fintoc","holder_id":"ND","is_root":true},"description":"Test
        account","status":"active"},{"id":"acc_31t0VhaF6uFoj0O9oreXw3jDtzL","object":"account","mode":"test","root_account_number":"735969000000203226","is_root":true,"root_account_number_id":"acno_31t0VhIYoVNy4mYjyo8cWZTYcK9","available_balance":0,"currency":"MXN","entity":{"id":"ent_31t0VhhrAXASFQTVYfCfIBnljbT","holder_name":"Fintoc","holder_id":"ND","is_root":true},"description":null,"status":"active"}]'
  recorded_at: Fri, 29 Aug 2025 20:02:43 GMT
recorded_with: VCR 6.3.1
