---
http_interactions:
- request:
    method: post
    uri: https://api.fintoc.com/v2/account_verifications
    body:
      encoding: UTF-8
      string: '{"account_number":"735969000000203226"}'
    headers:
      Authorization:
      - Bearer sk_test_SeCreT-aPi_KeY
      Fintoc-Jws-Signature:
      - eyJhbGciOiJSUzI1NiIsIm5vbmNlIjoiMWZlZTdlZTM5ODNjYTM3ZDUzNDJjYmY0NzkzNGQ5MzAiLCJ0cyI6MTc1Nzk0NjM4NiwiY3JpdCI6WyJ0cyIsIm5vbmNlIl19.bHt7OsP29pjU_w7jBXEpxbOhDIJdXY6ofO4W9s6qhAFKpYVjMbIFBSIivBfhHgQvs3_9eXbqbo6Z0eLTwQve-3k714d_7LH7M_DryV5TbdfzqiKDi6ukIehFXiudRvS82wy7IaUyFaMORmivy4l9O2zMMG66Hd5XhdXSqd2VjaHlM2KaQL9edj-s309cd7nc2Z6kEcGenlIKqOXF3z1d6wwU2PIegeDpIeckeg-wTkJ5_mlB-VMTzPOF93F1XTvtZBuHUPwHOuPxxU6LnKzdUgvYPV9nlZvnmcnxI0B26N9-0EvgzB0-O7Bv1Y2osfjZPBGLrmEtEELdLgK2PKpu5Q
      Idempotency-Key:
      - test_account_verification_123
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6631e33b56566f095f3f0da1b8c53407"
    body:
      encoding: UTF-8
      string: '{"object":"account_verification","id":"accv_32judMrUZx0kkUwpMOJTEYS7kbk","status":"pending","reason":null,"transfer_id":"tr_32judA57tpgGHcgHegasIjx86Nu","counterparty":{"holder_id":null,"holder_name":null,"account_number":"735969000000203226","account_type":"clabe","institution":{"id":"90735","name":"FINTOC","country":"mx"}},"mode":"test","receipt_url":null,"transaction_date":"2025-09-15T14:26:26Z"}'
  recorded_at: Mon, 15 Sep 2025 14:26:28 GMT
recorded_with: VCR 6.3.1
