---
http_interactions:
- request:
    method: get
    uri: https://api.fintoc.com/v1/links/6n12zLmai3lLE9Dq_token_gvEJi8FrBge4fb3cz7Wp856W
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - sk_test_9c8d8CeyBTx1VcJzuDgpm4H-bywJCeSx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"897ae694e5399ed740681eeb2602478d"
    body:
      encoding: UTF-8
      string: '{"id":"6n12zLmai3lLE9Dq","holder_id":"782592211","username":"416148503","holder_type":"business","created_at":"2020-08-18T17:37:24.550Z","institution":{"id":"cl_banco_de_chile","name":"Banco
        de Chile","country":"cl"},"link_token":null,"mode":"test","accounts":[{"id":"JjEQx2rPTGGKbrP5","type":"checking_account","number":"813990168","name":"Cuenta
        Corriente","official_name":"Cuenta Corriente","balance":{"available":23457460,"current":23457460,"limit":23457460},"holder_id":"404276727","holder_name":"Sta.
        Francisco Ordóñez Esquivel","currency":"CLP"}]}'
  recorded_at: Fri, 18 Sep 2020 19:30:22 GMT
- request:
    method: get
    uri: https://api.fintoc.com/v1/links/6n12zLmai3lLE9Dq_token_gvEJi8FrBge4fb3cz7Wp856W?link_token=6n12zLmai3lLE9Dq_token_gvEJi8FrBge4fb3cz7Wp856W
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - sk_test_9c8d8CeyBTx1VcJzuDgpm4H-bywJCeSx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"897ae694e5399ed740681eeb2602478d"
    body:
      encoding: UTF-8
      string: '{"id":"6n12zLmai3lLE9Dq","holder_id":"782592211","username":"416148503","holder_type":"business","created_at":"2020-08-18T17:37:24.550Z","institution":{"id":"cl_banco_de_chile","name":"Banco
        de Chile","country":"cl"},"link_token":null,"mode":"test","accounts":[{"id":"JjEQx2rPTGGKbrP5","type":"checking_account","number":"813990168","name":"Cuenta
        Corriente","official_name":"Cuenta Corriente","balance":{"available":23457460,"current":23457460,"limit":23457460},"holder_id":"404276727","holder_name":"Sta.
        Francisco Ordóñez Esquivel","currency":"CLP"}]}'
  recorded_at: Fri, 18 Sep 2020 19:30:23 GMT
recorded_with: VCR 6.0.0
