---
http_interactions:
- request:
    method: get
    uri: https://api.fintoc.com/v1/accounts/Z6AwnGn4idL7DPj4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - sk_test_9c8d8CeyBTx1VcJzuDgpm4H-bywJCeSx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"897ae694e5399ed740681eeb2602478d"
    body:
      encoding: UTF-8
      string: '{"id":"JjEQx2rPTGGKbrP5","type":"checking_account","number":"813990168","name":"Cuenta
        Corriente","official_name":"Cuenta Corriente","balance":{"available":23457460,"current":23457460,"limit":23457460},"holder_id":"404276727","holder_name":"Sta.
        Francisco Ordóñez Esquivel","currency":"CLP"}'
  recorded_at: Fri, 18 Sep 2020 19:32:33 GMT
- request:
    method: get
    uri: https://api.fintoc.com/v1/accounts/Z6AwnGn4idL7DPj4/movements
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - sk_test_9c8d8CeyBTx1VcJzuDgpm4H-bywJCeSx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"897ae694e5399ed740681eeb2602478d"
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Fri, 18 Sep 2020 19:32:33 GMT

recorded_with: VCR 6.0.0
