---
http_interactions:
- request:
    method: post
    uri: https://api.fintoc.com/v2/simulate/receive_transfer
    body:
      encoding: UTF-8
      string: '{"account_number_id":"acno_326dzRGqxLee3j9TkaBBBMfs2i0","amount":10000,"currency":"MXN"}'
    headers:
      Authorization:
      - Bearer sk_test_SeCreT-aPi_KeY
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b8507bbddf62fbbc39dc0f60d4b934b"
    body:
      encoding: UTF-8
      string: '{"object":"transfer","id":"tr_32CdYk4p58orHAqG8E3f5yrEjeo","amount":10000,"currency":"MXN","direction":"inbound","status":"pending","transaction_date":"2025-09-03T19:42:17Z","post_date":"2025-09-03T00:00:00Z","comment":null,"reference_id":"3","tracking_key":"202509039073500000000000000012","receipt_url":null,"mode":"test","counterparty":{"holder_id":"PPPR510220DB1","holder_name":"Adrianne
        Murray","account_number":"631969456789123456","account_type":"clabe","institution":{"id":"90631","name":"CI
        BOLSA","country":"mx"}},"account_number":{"id":"acno_326dzRGqxLee3j9TkaBBBMfs2i0","account_id":"acc_31yYL7h9LVPg121AgFtCyJPDsgM","number":"735969000000203365","created_at":"2025-09-01T16:46:57Z","updated_at":"2025-09-01T16:54:40Z","mode":"test","description":"Updated
        account number description","metadata":{"test_id":"12345"},"status":"enabled","is_root":false,"object":"account_number"},"metadata":{},"return_reason":null}'
  recorded_at: Wed, 03 Sep 2025 19:42:17 GMT
recorded_with: VCR 6.3.1
