---
http_interactions:
- request:
    method: post
    uri: https://api.fintoc.com/v2/account_numbers
    body:
      encoding: UTF-8
      string: '{"account_id":"acc_31yYL7h9LVPg121AgFtCyJPDsgM","description":"Test
        account number with idempotency","metadata":{"test_id":"12345"}}'
    headers:
      Authorization:
      - Bearer sk_test_SeCreT-aPi_KeY
      Idempotency-Key:
      - test_account_number_creation_123
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"db09652a2347900c9e96ea576c983a26"
    body:
      encoding: UTF-8
      string: '{"id":"acno_32jtLIBHODOQzsrA0myPDSoTGaL","account_id":"acc_31yYL7h9LVPg121AgFtCyJPDsgM","number":"735969000000204474","created_at":"2025-09-15T14:15:51Z","updated_at":"2025-09-15T14:15:51Z","mode":"test","description":"Test
        account number with idempotency","metadata":{"test_id":"12345"},"status":"enabled","is_root":false,"object":"account_number"}'
  recorded_at: Mon, 15 Sep 2025 14:15:51 GMT
recorded_with: VCR 6.3.1
