---
http_interactions:
- request:
    method: get
    uri: https://api.fintoc.com/v2/entities
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_SeCreT-aPi_KeY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - ''
      Etag:
      - W/"4e0fddc47966ed6497da73e42163ad1e"
    body:
      encoding: UTF-8
      string: '[{"id":"ent_31t0VhhrAXASFQTVYfCfIBnljbT","mode":"test","holder_name":"Fintoc","holder_id":"ND","is_root":true,"object":"entity"}]'
  recorded_at: Fri, 29 Aug 2025 15:21:01 GMT
recorded_with: VCR 6.3.1
