---
http_interactions:
- request:
    method: post
    uri: https://api.fintoc.com/v2/transfers/return
    body:
      encoding: UTF-8
      string: '{"transfer_id":"tr_32jkevdbJyoqZeJpt3s2zSeGsy9"}'
    headers:
      Authorization:
      - Bearer sk_test_SeCreT-aPi_KeY
      Fintoc-Jws-Signature:
      - eyJhbGciOiJSUzI1NiIsIm5vbmNlIjoiZDgxZGUyNGY4ZmQxYzdmNWFmZDUxOGVhOWUyZWI5ZGMiLCJ0cyI6MTc1Nzk0NDU1OCwiY3JpdCI6WyJ0cyIsIm5vbmNlIl19.HmIvMqtEar3l8rQFNdPI21mF5164i0qMTeGLErpz8TWWSnrX9GXmbCpiWFkD4fJqEa6NUJ3exif-KVfkiJXa1FwPk4_3thIWrN9Lq0iDcQkvdwBnfnJ6OdrL9aRLl2ELA2wLifJ9KexVRpux3-3_RBeLL-vlsjrrvRoPj2viNwQ_cbaEj3zkjKpkDzI8lA8lRBsxlhvMlkXDwuV-OB2WYo9CYr19yVi-ARrOVhaghl5QV_vhe_WfZ2xpz_og_SLLvsWZY4fh3HVq2DKaQx1WmyMVkFN1QNlJLYwNR3UMdt1qZe9Q28JPC_BfEq9tP_dVF8DqDTSj6fTNosQ-vgDfuw
      Idempotency-Key:
      - test_transfer_return_456
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"76f4dc6f63d1e1fdf92bec1447c410e2"
    body:
      encoding: UTF-8
      string: '{"object":"transfer","id":"tr_32jkevdbJyoqZeJpt3s2zSeGsy9","amount":10000,"currency":"MXN","direction":"inbound","status":"return_pending","transaction_date":"2025-09-15T13:04:26Z","post_date":"2025-09-15T00:00:00Z","comment":null,"reference_id":"1","tracking_key":"202509159073500000000000000001","receipt_url":"https://www.banxico.org.mx/cep-beta/go?i=90735\u0026s=dummy\u0026d=HDsSmhWT0QkFhcGMm9sAq%2BnmbMxcNdhT6LV9ghYzNfLO%2BAdWPo6Gh2PvKldLImn7BkerqSEhyimhUXEwGU6Gb8gh2K43RCLMEI4bVNyEHxw%3D","mode":"test","counterparty":{"holder_id":"JNDD471123XJ4","holder_name":"Carson
        Runolfsson","account_number":"723969738291465733","account_type":"clabe","institution":{"id":"90723","name":"Cuenca","country":"mx"}},"account_number":{"id":"acno_326dzRGqxLee3j9TkaBBBMfs2i0","account_id":"acc_31yYL7h9LVPg121AgFtCyJPDsgM","number":"735969000000203365","created_at":"2025-09-01T16:46:57Z","updated_at":"2025-09-01T16:54:40Z","mode":"test","description":"Updated
        account number description","metadata":{"test_id":"12345"},"status":"enabled","is_root":false,"object":"account_number"},"metadata":{},"return_reason":null}'
  recorded_at: Mon, 15 Sep 2025 13:55:59 GMT
recorded_with: VCR 6.3.1
