---
http_interactions:
- request:
    method: get
    uri: https://api.fintoc.com/v2/entities/ent_31t0VhhrAXASFQTVYfCfIBnljbT
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_SeCreT-aPi_KeY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f896e8d1f096825161c240052d9acb4a"
    body:
      encoding: UTF-8
      string: '{"id":"ent_31t0VhhrAXASFQTVYfCfIBnljbT","mode":"test","holder_name":"Fintoc","holder_id":"ND","is_root":true,"object":"entity"}'
  recorded_at: Fri, 29 Aug 2025 15:21:40 GMT
recorded_with: VCR 6.3.1
