---
http_interactions:
- request:
    method: get
    uri: https://api.fintoc.com/v2/account_numbers
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_SeCreT-aPi_KeY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - ''
      Etag:
      - W/"58e4fdf440240df4932ac91479501c77"
    body:
      encoding: UTF-8
      string: '[{"id":"acno_326dzRGqxLee3j9TkaBBBMfs2i0","account_id":"acc_31yYL7h9LVPg121AgFtCyJPDsgM","number":"735969000000203365","created_at":"2025-09-01T16:46:57Z","updated_at":"2025-09-01T16:46:57Z","mode":"test","description":"Test
        account number","metadata":{"test_id":"12345"},"status":"enabled","is_root":false,"object":"account_number"},{"id":"acno_31yYL5uOb39vzvRIszPhoXYMjt4","account_id":"acc_31yYL7h9LVPg121AgFtCyJPDsgM","number":"735969000000203297","created_at":"2025-08-29T20:02:00Z","updated_at":"2025-08-29T20:02:00Z","mode":"test","description":null,"metadata":{},"status":"enabled","is_root":true,"object":"account_number"},{"id":"acno_31t0VhIYoVNy4mYjyo8cWZTYcK9","account_id":"acc_31t0VhaF6uFoj0O9oreXw3jDtzL","number":"735969000000203226","created_at":"2025-08-27T20:54:46Z","updated_at":"2025-08-27T20:54:46Z","mode":"test","description":null,"metadata":{},"status":"enabled","is_root":true,"object":"account_number"}]'
  recorded_at: Mon, 01 Sep 2025 16:46:58 GMT
recorded_with: VCR 6.3.1
