---
http_interactions:
- request:
    method: post
    uri: https://api.fintoc.com/v2/accounts
    body:
      encoding: UTF-8
      string: '{"entity_id":"ent_31t0VhhrAXASFQTVYfCfIBnljbT","description":"Test
        account"}'
    headers:
      Authorization:
      - Bearer sk_test_SeCreT-aPi_KeY
      Idempotency-Key:
      - test_account_creation_123
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ffdc21c1fedd3ad600d0a04df1a2302a"
    body:
      encoding: UTF-8
      string: '{"id":"acc_32jkQxmBIHjvqudw7sBsfW2Jx1i","object":"account","mode":"test","root_account_number":"735969000000204461","is_root":false,"root_account_number_id":"acno_32jkR0JJSQtI77ClnTRaH2g3uwh","available_balance":0,"currency":"MXN","entity":{"id":"ent_31t0VhhrAXASFQTVYfCfIBnljbT","holder_name":"Fintoc","holder_id":"ND","is_root":true},"description":"Test
        account","status":"active"}'
  recorded_at: Mon, 15 Sep 2025 13:02:36 GMT
recorded_with: VCR 6.3.1
